body, html {
    height: 100%;
  }
  
h1 {
    padding-left: 20px;
}

.upload-wrapper{
    padding-left:20px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 15px;
    gap: 20px;
}

.upload-box{
    display: flex;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 320px; 
    height: 50px;
}

.upload-btn{
    border: none;
    background-color: #333;
    color: white;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}



.web-title{
    padding-top:20px;
    padding-bottom:20px;
    padding-left:15px;
    padding-right:20px;
    font-size:35px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:800;
    color:white;
    width:fit-content;
}

.logout{
    padding-top:20px;
    padding-bottom:20px;
    padding-left:15px;
    padding-right:20px;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:800;
    color:white;
    width:fit-content;
}


body{
    background-color: rgba(255, 255, 255, 0.386);
}

.wrapper {
	display: flex;
}

.navigation {
	background-color: #333;
	height: 100vh;
	width: 200px;
	position: fixed;
}

.navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation ul li {
	margin: 0;
	padding: 0;
}


.navigation ul li a {
	display: block;
	padding: 20px;
	color: #fff;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.navigation ul li a:hover {
	background-color: #666;
}

.navigation ul li a.active {
    color:#333;
	background-color: white;
}

.navigation ul li a.inactive {
    color:#fff;
}


.main-content div.main-active {
    position:absolute;
    visibility: visible;
    margin-left: 200px;
	padding: 20px;
}

.main-content div.main-inactive {
    position:absolute;
    visibility: hidden;
    margin-left: 200px;
	padding: 20px;
}

.search-box {
    display: flex;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 320px; 
    height: 50px;
}

.search-box input[type="text"] {
    width: 300px; 
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

.search-box button {
    border: none;
    background-color: #333;
    color: white;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.search-box button:hover {
    background-color: #333;
}


.user-list {
    margin-left: 20px;
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
}

.user-list th,
.user-list td {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.user-list th {
    margin-left: 20px;
    background-color: #eee;
    font-weight: bold;
}

.export-btn{
    border: none;
    background-color: #333;
    color: white;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;

}



.search-wrap {
    padding-left:20px;
    display: flex;
    align-items: center;
    width: 100%;
}

.graph-box{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;

}

.box{
    position: relative;
    background-color: #eee;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

}

.dashboard {
    padding-left:20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }
  
.card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 30px;
}

.count-view {
    font-size: 64px;
    font-weight: bold;
}

.count-upload {
    font-size: 64px;
    font-weight: bold;
}

